<!-- <div class="container"> -->

    <!-- <app-header></app-header> -->

    <!-- <app-click-counter></app-click-counter> -->
    <!-- <app-directives-demo></app-directives-demo> -->
    <!-- <app-product-card></app-product-card> -->
    <!-- <app-product-list></app-product-list> -->
    
    <!-- <app-footer></app-footer> -->
    
<!-- </div> -->

<app-header></app-header>
    <div class="container">
        <div class="row">
        <div class="col-md-3">
                <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9">
            <!-- <app-product-list></app-product-list> -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-footer></app-footer>
